*{
    font-family: "Inter", serif;
    font-weight: 100;
}
.whatupbtn{
    border: 1px solid #27AE60;
    padding: 10px 18px;
    color:#27AE60;
    font-size: 16px;
}
.whatupbtn i{
    color:#27AE60;
}
.whatupbtn:hover{
    border: 1px solid #27AE60;
}
.call{
    background: linear-gradient(to right,#0ACEFE,#2699FB);
    color: white;
    padding: 10px 18px;
}